{% extends "baseadmin.html.twig" %}

{% block body %}
    <table class="table table-striped">
        <caption>La liste des catégories disponibles dans le catalogue</caption>
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">
                    catégorie<br />          
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- boucle sur les catégories -->
            {% if categories|length > 0 %}
                {% for k in 0..categories|length-1 %}
                    <tr class="align-middle">
                        <td>
                            <h5 class="text-info">
                                {{ categories[k].name }}
                            </h5>
                        </td>
                        {% if categoriesutilisees[k] == true %}
                            <td class="text-end">
                                <a class="btn btn-danger disabled">Supprimer</a>
                            </td>
                        {% else %}
                            <td class="text-end">
                                <a href="{{ path('admin.categorie.suppr', {id:categories[k].id}) }}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer {{ categories[k].name }} ?')">Supprimer</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}	
            {% endif %}
        </tbody>
    </table>
    <h2>Nouvelle catégorie :</h2>
    {{ include ('_admin.categorie.form.html.twig') }}
{% endblock %}

