{{ form_start(formplaylist) }}
    <div class="row">
        <div class="col">
            {{ form_row(formplaylist.name) }}
            {{ form_row(formplaylist.description) }}
        </div>
    </div>
{{ form_end(formplaylist) }}
<em>Les champs marqués par un astérisque (*) sont obligatoires.</em>